body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000; /* o un colore simile allo sfondo */

    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* pannello centrale */
#settingsPanel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.1);
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  color: white;
  text-align: center;
  z-index: 2;
  width: 300px;
}

#settingsPanel input[type="range"] {
  width: 100%;
  margin: 15px 0;
}

#muteBtn, #backBtn {
  display: block;
  margin: 15px auto;
  padding: 10px 20px;
  border: none;
  background: #1a83b4;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  width: 80%;
}

fieldset{
  border-color: gold;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;;
}

h1{
  color: #800000;
}

h2{
  font-weight: 200;
}

/* Overlay che appare SOLO in verticale */
#rotate-device {
  position: fixed;
  inset: 0;
  background: #000;
  color: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-size: 1.5rem;
  z-index: 9999;
}

/* Nasconde il contenuto quando il telefono è in verticale */
body.vertical #game-container,
body.vertical main,
body.vertical #shop-container {
  display: none !important;
}
